.card{
    width: auto;
    height: 260px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: var(--text-color);
    color: #e9edec;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .6s;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    box-shadow:  9px 9px 18px #a5a8a8,
             -9px -9px 18px #ffffff;
}

.card:hover{
    background-color: #e9edec;
    color: var(--text-color);
}

.card.second{
    margin-top: 60px;
}

.card i{
    font-size: 40px;
}

.card h1{
    font-size: 20px;
}

.card p{
    text-align: center;
}



@media screen and (max-width: 1200px) {
    
    .card i{
        font-size: 30px;
    }
    
    .card h1{
        font-size: 16px;
    }
    
    .card p{
        text-align: center;
        font-size: 14px;
    }
}



@media screen and (max-width: 992px) {
    
    .card i{
        font-size: 36px;
    }
    
    .card h1{
        font-size: 20px;
    }
    
    .card p{
        text-align: center;
        font-size: 16px;
    }
}



@media screen and (max-width: 768px){

    .card{
        height: 210px;
    }

    .card i{
        font-size: 28px;
    }
    
    .card h1{
        font-size: 14px;
    }
    
    .card p{
        text-align: center;
        font-size: 12px;
    }
}



@media screen and (max-width: 576px) {
    
    .card{
        margin-top: 0 !important;
    }
}



@media screen and (max-width: 400px){

    .card i{
        font-size: 25px;
    }
    
    .card h1{
        font-size: 13px;
    }
    
    .card p{
        text-align: center;
        font-size: 11px;
    }
}